
<!-- FOOTER -->
<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h3 class="letter-spacing-1">WHY US?</h3>
                <p>
                    We have the conviction that we create the most innovative and reliable products on the market. Contact us today for any questions you might have.
                </p>
                <h2>(418) 555-1234</h2>
            </div>

            <div class="col-md-4">
                <h3 class="letter-spacing-1">KEEP IN TOUCH</h3>
                <p>Subscribe to Our Newsletter to get Important News & Offers</p>
                
                <form id="subscribe-form" onsubmit="showPopup()">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-envelope"></i>
                        </span>
                        <input type="email" id="email" name="email" class="form-control required" placeholder="Enter your Email">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit">
                                Subscribe
                            </button>
                        </span>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            &copy; All Rights Reserved, Rocket Elevators <br>
            Disclaimer: This website was developed for educational purpose only. 
            The content presented herein is fictional. 
        </div>
    </div>
</footer>
<!-- /FOOTER -->