<!-- MODAL -->
<div class="modal fade" id="success-message" role="dialog">
    <div class="modal-dialog">				
    <div class="modal-content">
        <div class="modal-header" style="background-color: rgb(10, 101, 160);">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 class="modal-title" style="color: #fff; text-align: center;"> 		
            <i class="et-envelope" style="color: #fff;"></i>
            MESSAGE SENT!
        </h3>
        </div>
        <div class="modal-body">
            <h4 style="text-align: center;">
                Thank you for contacting Rocket Elevators. <br> 
                Your inquiry is our top priority and <br> 
                we will get back to you shortly. 
            </h4>
            <img class="img-fluid" width="200px" style="display: block;
            margin-left: auto; margin-right: auto;" src="assets/images/rocketElevators/rocketLogo.png"/>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
    
    </div>
</div>

<div class="modal fade" id="subscribe-message" role="dialog">
    <div class="modal-dialog">				
    <div class="modal-content">
        <div class="modal-header" style="background-color: rgb(10, 101, 160);">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 class="modal-title" style="color: #fff; text-align: center;"> 		
            🔔 SUBSCRIBED!
        </h3>
        </div>
        <div class="modal-body">
            <h4 style="text-align: center;">
                Thank you for subscribing to our newsletter! <br> 
            </h4>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
    
    </div>
</div>
<!-- /MODAL -->