<!-- TOP NAVIGATION -->
<div id="header" class="navbar-toggleable-md sticky header-md clearfix">
    <header id="topNav">
        <div class="container">

            <!-- Mobile Menu Button -->
            <button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
                <i class="fa fa-bars"></i>
            </button>

            <!-- Logo -->
            <a class="logo float-left scrollTo" href="#top">
                <%= image_tag "rocketElevators/rocketLogo.png", alt: "" %>

            </a>
            <div class="navbar-collapse collapse float-right nav-main-collapse submenu-dark">
                <nav class="nav-main">

                    <ul id="topMain" class="nav nav-pills nav-main nav-onepage">
                        <li class="active">
                            <a id="home-nav" class="scrollTo" href="#top">
                                HOME
                            </a>
                        </li>
                        <li class="dropdown">
                            <a id="services-nav" href="#services" class="dropdown-toggle">
                                SERVICES
                            </a>
                            <ul class="dropdown-menu">
                                <li class="dropdown">
                                    <a id="residential-nav" href="residential.html">RESIDENTIAL</a>
                                </li>
                                <li class="dropdown">
                                    <a id="commercial-nav" href="commercial.html">COMMERCIAL</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a id="portfolio-nav" href="#portfolio">
                                PORTFOLIO
                            </a>
                        </li>
                        <li>
                            <a id="news-nav" href="#news">
                                NEWS
                            </a>
                        </li>
                        <li>
                            <a id="clients-nav" href="#clients">
                                CLIENTS
                            </a>
                        </li>
                        <li>
                            <a id="quote-nav" href="quote.html">
                                REQUEST QUOTE
                            </a>
                        </li>
                        <li>
                            <a id="contact-nav" href="#contact">
                                CONTACT
                            </a>
                        </li>
                    </ul>

                </nav>
            </div>

        </div>
    </header>
<!-- TOP NAV -->
</div>

