<%# <meta name='turbolinks-visit-control' content='reload'> %>

<form action="briefing" method="get">
  <input type="submit" id="mybtn" value="Get audio"/>
</form>

<div id="player2">
    <audio controls autoplay>
     <source src="briefing" type="audio/mpeg">
    </audio>
</div>

<%# <%= button_to "New", action: "briefing" %> 
<%# <% audio_tag("briefing", controls: true, id: 'player')%>
<audio id="player" autoplay></audio>

<script>
    // document.addEventListener('DOMContentLoaded', (event) => {
    //     console.log('DOM fully loaded and parsed');

    //     let player = document.getElementById("player")
    //     player.src = "/admin/briefing";
    //     player.play();

    // });



//     document.
//   document.getElementById("mybtn").addEventListener("submit", function (event) {
//     console.log("Hello briefing!")
//     let player = document.getElementById('player')
//     player.src = 'briefing'
//     player.play();
//     event.preventDefault();
//   });
</script> 

<%# GET http://localhost:3000/briefing net::ERR_ABORTED 404 (Not Found) %>

<%# admin/briefing %>
<%# GET http://localhost:3000/admin/admin/briefing net::ERR_ABORTED 404 (Not Found) %>